
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>

		<title>BENSHOP</title>
	</head>
	<body>
		<nav class="navbar sticky-top navbar-light bg-light">
			<div class="container">
				<a href="/" class="navbar-brand">BENSHOP</a>
			    <div class="ms-auto">
					<!-- navbar-brand to help spacing -->
					<a class="navbar-brand" style="cursor: pointer; margin-right: 25px;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
						<span>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="22"
								height="22"
								fill="currentColor"
								class="bi bi-search"
								viewBox="0 0 16 16"
							>
								<path
									d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
								/>
							</svg>
						</span>
					</a>
					<a href="/cart" class="navbar-brand" style="margin-right: 25px;">
					   <span>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="22"
								height="22"
								fill="currentColor"
								class="bi bi-cart"
								viewBox="0 0 16 16"
							>
								<path
									d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
								/>
							</svg>
						</span>
					</a>
					<a href="/login" class="navbar-brand">
					   <span>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="22"
								height="22"
								fill="currentColor"
								class="bi bi-person-circle"
								viewBox="0 0 16 16"
							>
								<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
								<path
									fill-rule="evenodd"
									d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
								/>
							</svg>
						</span>
					</a>
				</div>
			</div>
		</nav>
		<!-- navbar end -->

		<!-- modal for search -->
		<div
			class="modal fade"
			id="staticBackdrop"
			data-bs-backdrop="static"
			data-bs-keyboard="false"
			tabindex="-1"
			aria-labelledby="staticBackdropLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<p class="lead">Search our store</p>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"
						></button>
					</div>
					<div class="modal-body">
						<input type="text" class="form-control rounded-pill" />
					</div>
				</div>
			</div>
		</div>
		<!-- end, modal for search -->

		<div class="container">
			
			<div class="row justify-content-center mt-5">
				
				<div class="col-md-9 d-flex justify-content-between">
					<h2 class="d-inline ms-3">My Orders</h2>
					<div onclick="location.href='/logout';" style="cursor: pointer;">
						<p class="lead" style="color: darkred;">Logout</p>
					</div>
				</div>
			</div>
			
			
			<% for (var i = 0; i < my_orders.length; i++){ %>
			<div class="row justify-content-center mt-5 mb-5">
				<div class="col-md-4">
					
					<h4 class="text-secondary ms-3">ORDER ID</h4>
					<p class="ms-3"><%=my_orders[i]["id"]%></p>
					<hr>
					
					<h4 class="text-secondary ms-3">SHIPPING</h4>
					<p class="ms-3">Address: <%=my_orders[i]["address"]["street"]%>, <%=my_orders[i]["address"]["city"]%>, <%=my_orders[i]["address"]["postal_code"]%>, <%=my_orders[i]["address"]["country"]%> </p>     
					<hr>
					
					<h4 class="text-secondary ms-3">PAYMENT METHOD</h4>
					<p class="ms-3">Paypal</p>
					<hr>
					
					<h4 class="text-secondary ms-3">ORDER ITEMS</h4>
					<% for (var j = 0; j < my_orders[i]["order"].length; j++){ %>
					<div class="d-flex justify-content-between ms-3 me-5">
						<p class="d-inline"><%=my_orders[i]["order"][j]["name"]%></p>
						<p class="d-inline">₱<%=my_orders[i]["order"][j]["price"]%>.00</p>
					</div>
					<% } %>
					<hr>
					
				</div>
				
				<div class="col-md-4">
					<ul class="list-group">
					  <li class="list-group-item">
						  <h5 class="text-secondary p-3">ORDER SUMMARY</h5>
					  </li>
                      <li class="list-group-item">
						  <div class="d-flex justify-content-between">
							  <span>Items</span>
							  <span>₱<%=my_orders[i]["partial_total"]%></span>        
						  </div>
					  </li>
                      <li class="list-group-item">
						  <div class="d-flex justify-content-between">
							  <span>Shipping</span>
							  <span>₱0.00</span>
						  </div>
					  </li>
                      <li class="list-group-item">
						  <div class="d-flex justify-content-between">
							<span>Tax</span>
							<span>₱<%=my_orders[i]["tax"]%>.00</span>
						  </div>
					  </li>
					  <li class="list-group-item">
						  <div class="d-flex justify-content-between">
							<span>Total</span>
							<span>₱<%=my_orders[i]["total"]%>.00</span>
						  </div>
					  </li>
                      
                    </ul>
				</div>
				
				
				<div class="row justify-content-center">
					<div class="col-md-1 d-flex justify-content-center">
						<% if (i + 1 !== my_orders.length){ %>
						<h1 class="text-secondary">...</h1>
						<% } %>
					</div>
				</div>
				
			</div>
			<% } %>
			
			
			
		</div>
		<!-- container -->
		
		<!-- footer -->
		<div class="footer text-center fixed-bottom">
		   <p class="text-secondary">Designed and built with all the love by me, @Ben</p>
		</div>

		
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>
	</body>
</html>