



<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		
		
		<!-- style for toltip only -->
		<style>
          .toltip {position:relative; display:inline-block;}
          .toltip .toltiptext {visibility: hidden;
              width: 170px;
              background-color: gray;
              color: #fff;
              text-align: center;
              border-radius: 2px;
              padding: 5px;
			  font-size: 13px;
  
              /* Position of the toltip */
              position: absolute;
              z-index: 1;
              bottom: 100%;
              left: 50%;
              margin-left: -60px;
           }
		   .toltip:hover .toltiptext {visibility:visible;}
        </style>
		<!-- end, style for toltip only -->
		

		<title>BENSHOP</title>
	</head>
	<body>
		
		<nav class="navbar sticky-top navbar-light bg-light">
			<div class="container">
				<a href="/" class="navbar-brand">BENSHOP</a>
			    <div class="ms-auto">
					<!-- navbar-brand to help spacing -->
					<a class="navbar-brand lead" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
					   search
					</a>
					<a href="/cart" class="navbar-brand lead">
					   cart
					</a>
					<a href="/login" class="navbar-brand lead">
					   account
					</a>
				</div>
			</div>
		</nav>
		<!-- navbar end -->

		<!-- modal for search -->
		<div
			class="modal fade"
			id="staticBackdrop"
			data-bs-backdrop="static"
			data-bs-keyboard="false"
			tabindex="-1"
			aria-labelledby="staticBackdropLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"
						></button>
					</div>
					<div class="modal-body">
						<input type="text" class="form-control" placeholder="search our store">
					</div>
				</div>
			</div>
		</div>
		<!-- end, modal for search -->

        <div class="container mt-5">
			<div class="row justify-content-center">
			  <div class="col-md-8">
				<h2>SHOPPING CART</h2>  
			  </div>
				
			
			<% for (var i = 0; i < cart.length; i++){ %>	
			<div class="row justify-content-center mt-4">
			    <div class="col-md-1">
					<img src="<%=cart[i]["photoUrl"]%>" class="img-fluid" alt="product">
				</div>
				<div class="col-md-1">
					<p><%=cart[i]["name"]%></p>
				</div>
				<div class="col-md-1">
					<p><%=cart[i]["ordered_quantity"]%></p>
				</div>
				<div class="col-md-3">
					<p>₱<%=cart[i]["price"]%></p>
				</div>
				<div class="col-md-1">
					<form action="/cart/edit/<%=cart[i]["id"]%>" method="post">    
					<div onclick="this.parentNode.submit()" style="cursor: pointer;">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
					</div>
					</form>	
				</div>
				
				
				<div class="col-md-7">
					<hr>
				</div>
				
				
			</div>
			<% } %>
			
			</div>
			
			<!-- proceed to checkout -->
			<div class="row justify-content-center mt-3 mb-5">
				<div class="col-md-7 rounded p-3">
					<div class="d-flex justify-content-between">
						<h4 class="d-inline text-secondary m-0">TOTAL
							
							<% if (cart.length !== 0){ %>
							<!-- tax added tooltip -->
							<div class="toltip">
							<span class="toltiptext">Tax is already added</span>
					        <span>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/></svg>
							</span>
							</div>
							<% } %>
							
						</h4>
						<h4 class="d-inline text-secondary m-0">₱<%=total%>.00</h4>
					</div>
					<hr style="height:10px;">
					<% if ( cart.length !== 0 ){ %>
					<a href="/shipping" class="btn btn-dark">PROCEED TO CHECKOUT</a>
					<% } %>
				</div>
			</div>
			
		</div>
		
	

		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>
	</body>
</html>